$black: #000201;
$grey-light: #ECE8EA;
$grey: #DAD7D9;
$grey-dark: #807C7E;
$pink: #E37CB0;
$green: #3DC5AC;
$yellow: #F2A229;
$yellow-pale: #FAF3DD;
$blue-dark: #09021E;
$text-dark: #958CB0;
$text-darkest: #5B7589;
